.bar{
    height:30px;
    width: 1200px;
    background-color: gray;
    color: black;
    position: relative;
    text-align: left;
   }

.fa fa-facebook{
    position: absolute;
   }
.facebook-icon-box{
    height: 20px;;
    width: 20px;
    background-color: rgb(160, 160, 234);
    padding-top: 5px;
}
.fa fa-search{
    position: absolute;
}
.box {
    position: absolute;
    height: 80%;
    width: 200px;
    background-color: rgb(58, 56, 56);
    margin-left: 5%;
    margin-bottom: 5%;
}

         