.bar{
    height:56px;
    width: 100%;
    background-color: gray;
    color: black;
    position: relative;
    display: flex;
   }

.facebook-home-page-link {
    text-decoration: none;
}
.facebook-icon-box{
    margin-top: 5%;
    margin-left: 20px;
    height: 90%;
    width: 54px;
    background-color: #3578E5;
    display: flex;
    justify-content: space-evenly;
    border-radius: 27px;
}

.facebook-icon{
    padding-top: 10px;
    font-size: 200% !important;
}
.search-box{
    margin-top: 5px;
    margin-left: 20px;
    height: 70%;
    width: 200px;
    background-color: rgb(173, 169, 169);  
    border-radius: 27px;  
}
.fa fa-search{
    font-size: 200px;
    

    
}
         